@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "DM Sans", sans-serif;
    font-style: normal;
    font-weight: 500;
}

.NombreProducto {
    font-size: 1.25rem;
}

.containerCart {
    width: 18.75rem;
    height: 28.5625rem;
    padding-bottom: .625rem;
    border-radius: .5rem;
    background-color: #FFFFFF;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}